@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@import url(./reset.css);


/* 

Basic styling

*/


:root {
    --darkGrey: #333333;
    --lightGrey: #888888;
    --veryLightGrey: #bbbbbb;
    --greyWhite: #eeeeee;
    --blue: #3e478b;

     font-family: 'Work Sans', sans-serif;

     overflow-x: hidden;
}

/* <div class="contact__card">
<div class="contact__logo">
    <i class="fa-regular fa-envelope"></i>
    
</div>
<div class="contact__textwrapper">
    <h1 class="contact__subhead">Mail</h1>
    <p>Lorem ipsum dolor sit amet.</p>
</div>
</div> */
.contact {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.contact__header {
    font-size: 3rem;
    font-weight: 800;
    font-style: italic;
    align-self: flex-start;
    color: var(--blue);
    margin: 2rem;
}


.contact__wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80%;
    flex-direction: column;
    row-gap: 2.5rem;

}

.contact__card {
    width: 100%;
    margin-inline: 5%;
    display: flex;
    background-color: var(--greyWhite);
    border-radius: 0.5rem;
    min-height: 4rem;
    border: 2px solid var(--blue);


}
.contact__logo {
    background-color: var(--greyWhite);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    padding: 0.5rem;
    border-radius: 0.5rem;
    padding-inline: 1rem;
    color: var(--blue);
    border-right: 2px solid var(--blue);
    min-width: 35px;
}
.contact__textwrapper {
    display: flex;
    flex-direction: column;
    padding: 0.5rem;
    color: var(--darkGrey);
    justify-content: space-around;
}
.contact__subhead {
    font-size: 1.5rem;
    font-weight: 500;
}

.contact__textwrapper p {
    font-size: 0.9rem;
    font-weight: 400;
}

.contact__map {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 2rem;
}


.contact__map iframe {
    width: 80%;
    max-height: 400px;
    border-radius: 1rem;

}